.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & p {
    font-size: 15px;
  }
}

.command {
  color: #555555;
  cursor: pointer;
}

.command_disabled {
  color: #c9c9c9;
  cursor: not-allowed;
}
